{% extends 'base.html' %}
{% block content %}
<div>
    <h2>About Me</h2>
    <p>Hello, I'm Surya — a passionate Python developer focused on building practical web applications using Flask. With hands-on experience in routing, authentication, and responsive design, I strive to create user-centric digital experiences.</p>

    <p>Recent projects include a medical billing website and dynamic customer feedback system, both designed with scalability and usability in mind. I enjoy exploring healthcare tech, solving real-world problems, and continuously refining my skills.</p>

    <p>If you're curious about my work or wish to collaborate, feel free to drop a message through the contact page!</p>
</div>
{% endblock %}
