{% extends 'base.html' %}
{% block content %}
<h2>Simple Quiz</h2>
<form method="POST">
    {% for q in questions %}
        <div>
            <h3>{{ q.question }}</h3>
            <img src="{{ url_for('static', filename='images/' + q.image) }}" width="200">
            {% for choice in q.choices %}
                <label>
                    <input type="radio" name="q{{ q.id }}" value="{{ choice }}" required>
                    {{ choice }}
                </label><br>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
    <button type="submit">Submit Answers</button>
</form>
{% endblock %}
